{% extends "base.html" %}
{% block content %}
    <div class="home-page">
        <h1>Homework #4.</h1>
        <h2>This is a simple assignment where you enter some personal information.</h2>
        <form action="{{ url_for('greet') }}" method="POST">
            <p>Please type your name: <input type="text" name="name"></p>
            <p>Please type your birthdate: <input type="date" name="birthdate"></p>
            <p><input type="submit" name="Submit Form"></p>
        </form>
    </div>
{% endblock %}